@import url('https://fonts.googleapis.com/css?family=Oswald');


body {

	background-image: url('/images/paperbgworldimage.jpg');
	position: relative;
	color: white;
	font-family: 'Oswald', sans-serif;

}

html {

	font-size: 16px;
}

.navbar-dark .navbar-toggler {

	outline: none;
	cursor: pointer;
}

h1 {
	
	text-align: center;
	font-size: 5rem;
	margin-top: 3.5rem;
	margin-bottom: 1.5rem;	
	font-variant: small-caps;

}

img {

	margin-bottom: 1rem;

}

#carousel {

	text-align: center;
	border: 5px solid black;
	border-radius: .5rem;
	height: 810px;
}

.navbar-brand img {
    
    width: 2rem;
    height: 2rem;
    margin: 0;

}

.navbar-dark .navbar-nav .nav-link {
    
    color: rgba(255,255,255,1);
}

.navbar-dark {

	border: 3px solid black;
	padding: 0;
	padding-left: 1rem;

}

#linkDiv {

	display: inline-block;
	margin:auto;
	background-color: #B0643D; 
	text-align: center;
	width: 20rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	margin: 2rem;
	border-radius: 1rem;
	border: 3px solid black;

}

#linkDiv a {

	color: white;
}

#linkDiv a:hover {

	text-decoration: none;
	transform: scale(2);
}


